<h1><%= @deck.name %> Flashcard Set </h1>

<p>Are you ready to play?</p>


<form method="post" action="/round">
  <input type= "submit" value="Begin!">
  <input type="hidden" name="deck_id" value="<%=@deck.id%>">
</form>
