<link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<h1>sign up to play take a shot</h1>

<div class="begin_result_div">

  <form method="post" action="/user">
    <input class="input" name="user[username]" type="text" placeholder="Username">
    <input class="input" name="user[password]" type="password" placeholder="Password"><br>
    <input class="begin_submit, input" id="submit" type="submit" value="sign me up" class="button">
  </form>

  <% if @errors %>
  <ul>
    <% @errors.each do |message| %>
      <li class="errors">
        <%= message %><br>
      </li>
    <% end %>
  </ul>
<% end %>



  <p>Already have an account?</p>
  <a href="/login"> Login Here</a>

</div>
